body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:60vw;
  margin:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  min-height:100vh;
}
.colors{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:.2rem;
}
.colors div{
    height:2.4rem;
    color:#eee;
    font-size:.6rem;
    font-weight:bold;
    text-transform: uppercase;
    display:grid;
    align-items:flex-end;
    padding:.2rem;
}
